<h1>Dragon Ball Z</h1>
<hr>

<div class="row">

  <div class="col">
    <!-- <h3>Personajes</h3>
    <hr>
    <ul>
      <li *ngFor="let item of personajes">{{item.nombre}} - {{item.poder | number}}</li>
    </ul> -->
    <app-personajes> </app-personajes>
    <!--[personajes]="personajes"-->
  </div>

  <div class="col">
    <!-- <h3>Agregar<small>{{nuevo.nombre}}</small></h3>
    <hr>
    <form (ngSubmit)="agregar()">
      <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" />
      <input type="text" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder" />
      <button type="submit">
        Agregar
      </button>
    </form> -->
    <app-agregar [nuevo]="nuevo"></app-agregar>
    <!--(onNuevoPersonaje)="agregarNuevoPersonaje( $event )" -->
  </div>
</div>
