<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand disabled" href="#">App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contador">Contador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroe">Héroe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroes">Héroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dbz">Dragon Ball Z</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="text-center">
    <h1>Bienvenid@</h1>
  <p>Elige una opción del menú</p>
  </div>
  <hr style="border: 10px solid;  border-radius: 5px; ">

<!-- <app-contador></app-contador> -->
<!-- <app-heroe></app-heroe>  -->
<!-- <app-listado></app-listado>  -->
<!-- <app-main-page></app-main-page> -->

<router-outlet></router-outlet>